# Date time Module

In [3]:
import pandas as pd
import datetime as dt

In [7]:
today=dt.date(2022,10,1)

In [9]:
today.year

2022

In [10]:
today.day

1

In [11]:
today.month

10

In [12]:
today=dt.date(10,1,2022)

ValueError: day is out of range for month

# Time stamp

In [14]:
date=2022-3-23
date

1996

In [15]:
date

1996

In [17]:
dt.date(2022-3-15)

TypeError: function missing required argument 'month' (pos 2)

In [18]:
dt.date(2022 3 15)

SyntaxError: invalid syntax (3043478216.py, line 1)

In [19]:
dt.date("2022 3 15")

TypeError: an integer is required (got type str)

In [23]:
dt.date(2022/3/15)

TypeError: integer argument expected, got float

# Time Stamp

In [30]:
pd.Timestamp("13-12-2022")

C:\Users\Manjunath\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3106: UserWarning: Parsing '13-12-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Timestamp('2022-12-13 00:00:00')

In [34]:
pd.Timestamp("13/12/2022")
pd.Timestamp("13, 12, 2022")
pd.Timestamp("13 12 2022")

C:\Users\Manjunath\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3106: UserWarning: Parsing '13 12 2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Timestamp('2022-12-13 00:00:00')

In [35]:
pd.Timestamp("13 12 2022" 13 42 34)

SyntaxError: invalid syntax (1743623247.py, line 1)

In [37]:
pd.Timestamp("13 12 2022 13:42:34")

Timestamp('2022-12-13 13:42:34')

In [43]:
pd.Timestamp("13-12-2022 13:42:34")

Timestamp('2022-12-13 13:42:34')

In [45]:
pd.to_datetime("13/3/2022")

Timestamp('2022-03-13 00:00:00')

### Date time index

In [50]:
date=["2022/9/1","2022/9/2","2022/9/3"]

In [52]:
type(date)

list

In [53]:
date1=pd.DatetimeIndex(date)
date1

DatetimeIndex(['2022-09-01', '2022-09-02', '2022-09-03'], dtype='datetime64[ns]', freq=None)

In [54]:
type(date1)

pandas.core.indexes.datetimes.DatetimeIndex

In [61]:
Temp=[21,24,45]

In [62]:
pd.Series(Temp,index=date1)

2022-09-01    21
2022-09-02    24
2022-09-03    45
dtype: int64

### pd.to_datetime

In [71]:
date=pd.Series(["December 22nd,2",'2019,02,21',"This is date","Dec 23rd 2022"])
date

0    December 22nd,2
1         2019,02,21
2       This is date
3      Dec 23rd 2022
dtype: object

In [72]:
pd.to_datetime(date,errors='coerce')

0   2002-12-22
1          NaT
2          NaT
3   2022-12-23
dtype: datetime64[ns]

### pd.date_range

In [74]:
pd.date_range(start="2022/01/01",end="2023/01/01",freq="D")

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-12-23', '2022-12-24', '2022-12-25', '2022-12-26',
               '2022-12-27', '2022-12-28', '2022-12-29', '2022-12-30',
               '2022-12-31', '2023-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [75]:
pd.date_range(start="2022/01/01",end="2023/01/01",freq="M")

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31'],
              dtype='datetime64[ns]', freq='M')

In [78]:
pd.date_range(start="2022/01/01",end="2033/01/01",freq="A")

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31',
               '2030-12-31', '2031-12-31', '2032-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [79]:
pd.date_range(start="2022/01/01",end="2033/01/01",freq="H")

DatetimeIndex(['2022-01-01 00:00:00', '2022-01-01 01:00:00',
               '2022-01-01 02:00:00', '2022-01-01 03:00:00',
               '2022-01-01 04:00:00', '2022-01-01 05:00:00',
               '2022-01-01 06:00:00', '2022-01-01 07:00:00',
               '2022-01-01 08:00:00', '2022-01-01 09:00:00',
               ...
               '2032-12-31 15:00:00', '2032-12-31 16:00:00',
               '2032-12-31 17:00:00', '2032-12-31 18:00:00',
               '2032-12-31 19:00:00', '2032-12-31 20:00:00',
               '2032-12-31 21:00:00', '2032-12-31 22:00:00',
               '2032-12-31 23:00:00', '2033-01-01 00:00:00'],
              dtype='datetime64[ns]', length=96433, freq='H')

In [80]:
from Pandas_datareader import data

ModuleNotFoundError: No module named 'Pandas_datareader'

In [81]:
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: requests>=2.19.0 in c:\users\manjunath\anaconda3\lib\site-packages (from pandas_datareader) (2.27.1)
Requirement already satisfied: pandas>=0.23 in c:\users\manjunath\anaconda3\lib\site-packages (from pandas_datareader) (1.4.2)
Requirement already satisfied: lxml in c:\users\manjunath\anaconda3\lib\site-packages (from pandas_datareader) (4.8.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\manjunath\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\manjunath\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\manjunath\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\manjunath\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\manjunath\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\manjunath\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\manjunath\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\manjunath\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2022.6.15)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0

In [83]:
from pandas_datareader import data

In [87]:
"MSFT"

'MSFT'

In [113]:
df=data.DataReader('MSFT',data_source="yahoo",start="2021/01/01",end='2022/01/01')

In [114]:
df.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [115]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-31,223.000000,219.679993,221.699997,222.419998,20942100.0,219.139328
2021-01-04,223.000000,214.809998,222.529999,217.690002,37130100.0,214.479111
2021-01-05,218.520004,215.699997,217.259995,217.899994,23823000.0,214.686005
2021-01-06,216.490005,211.940002,212.169998,212.250000,35930700.0,209.119339
2021-01-07,219.339996,213.710007,214.039993,218.289993,27694500.0,215.070251
...,...,...,...,...,...,...
2021-12-27,342.480011,335.429993,335.459991,342.450012,19947000.0,340.227112
2021-12-28,343.809998,340.320007,343.149994,341.250000,15661500.0,339.034882
2021-12-29,344.299988,339.679993,341.299988,341.950012,15042000.0,339.730377
2021-12-30,343.130005,338.820007,341.910004,339.320007,15994500.0,337.117432
2021-12-31,339.359985,335.850006,338.510010,336.320007,18000800.0,334.136902

In [116]:
df.loc['2021-12-27']

High         3.424800e+02
Low          3.354300e+02
Open         3.354600e+02
Close        3.424500e+02
Volume       1.994700e+07
Adj Close    3.402271e+02
Name: 2021-12-27 00:00:00, dtype: float64

In [117]:
df.iloc[2]

High         2.185200e+02
Low          2.157000e+02
Open         2.172600e+02
Close        2.179000e+02
Volume       2.382300e+07
Adj Close    2.146860e+02
Name: 2021-01-05 00:00:00, dtype: float64

In [122]:
df.loc['2020-1-1':'2021-1-1']

             High         Low        Open       Close      Volume   Adj Close
Date
2020-12-31  223.0  219.679993  221.699997  222.419998  20942100.0  219.139328